# Icarus Verilog output
*.vvp
*.vcd
*.out
*.xpr
*.wpc
*.lpr
*.view
*.tcl
*.rtd
*.rpt
*.cache
*.str
*.sim
*.runs
*.dcp
*.ip_user_files
*.xml
*.log
*.ys
*.vh
*.vhd
*.veo
*.txt
*.vhdl
*.ila
*.layout
*.wcfg
*.wdb
*.xci
# OS junk
.DS_Store
Thumbs.db